<header #header class="pt-8 pb-5 flex items-center">
  <a class="flex items-center group hover:text-rose-500" [routerLink]="['/']">
    <!-- logo -->
    <img
      class="w-8 border bg-white rounded-full p-1 mr-1 shake wait-0"
      src="images/about/pei.jpg"
      alt="logo"
    />
    <!-- 動態字母 -->
    @for(word of title().split(' '); track $index){
    <span
      class="shake px-0.5 font-bold hidden sm:inline"
      [class]="'wait-' + ($index + 1)"
      >{{ word }}</span
    >
    }
  </a>
  <!-- 功能選單 -->
  <div class="ml-auto flex items-center">
    <!-- 太陽/月亮 切換 -->
    <button
      type="button"
      (click)="onSwitchThemeMode()"
      [class.animate-jump-y]="themeSwitch()"
      class="text-yellow-500 hover:text-yellow-600 text-lg"
    >
      @if(themeMode() === 'light'){
      <i class="fa-solid fa-sun"></i>
      }@else {
      <i class="fa-solid fa-moon"></i>
      }
    </button>
    <a
      class="border-r border-shark-400 hover:text-rose-500 mx-5 pr-5"
      [routerLink]="[STATIC_ROUTES().ABOUT.url]"
      >About</a
    >
    <!-- 外部連結 -->
    <nav class="grid grid-cols-2 gap-3 text-lg">
      <a title="github" href="#" class="hover:text-rose-500">
        <i class="fa-brands fa-github"></i>
      </a>
      <a title="linkedin" href="#" class="hover:text-rose-500">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </nav>
  </div>
</header>
