<p align="center">
  <img src="assets/about/pei.jpg" alt="avatar" width="200" style="margin-bottom: 6px; border-radius: 50%;
  border: 4px #ffffff solid;
  box-shadow: 6px 6px 10px -4px rgba(189,189,189,0.75);
  -webkit-box-shadow: 6px 6px 10px -4px rgba(189,189,189,0.75);
  -moz-box-shadow: 6px 6px 10px -4px rgba(189,189,189,0.75);"/>
</p>

<img src="assets/about/pei.jpg" alt="123">
<h1>Hi 我是Pei</h1>
<p>一個努力實現下面這句話的小小工程師</p>
<p>「程式是種樂趣，是訴說想像的語言無須畏懼」</p>
<p>目前是 Front-end engineer ，未來想做一個其實會寫後端且了解雲端架構的 Front-end engineer</p>

<h2>技能</h2>
<ul>
  <li>Html、Css、JavaScript</li>
  <li>Angular</li>
  <li>Go lang</li>
  <li>Azure CICD</li>
  <li>持續增加中...</li>
</ul>
