<figure class="p-5">
  <img
    ngSrc="images/logo/logo.jpg"
    alt="avatar"
    width="200"
    height="200"
    priority
    class="mb-1 mx-auto rounded-full border-4 border-white dark:border-shark-700 shadow-lg shadow-gray-400/75"
  />
  <figcaption>
    <h1>Hi 我是 啊培培 ( Pei )</h1>
    <p>一個努力實現下面這句話的小小工程師</p>
    <p>「程式是種樂趣，是訴說想像的語言無須畏懼」</p>
    <p>
      目前是 Front-end engineer ，未來想做一個其實會寫後端且了解雲端架構的
      Full-stack engineer
    </p>

    <h2>技能</h2>
    <ul>
      <li>Html、Css、JavaScript</li>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>Azure CICD</li>
      <li>持續增加中...</li>
    </ul>
  </figcaption>
</figure>
